<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
<body>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12">
            <div class="form-group">
                <label for="first">Book Name</label>
                <input type="text" class="form-control" name="book_name" placeholder="" id="first"
                       value="{{ book.name }}">
            </div>
        </div>
        <!--  col-md-6   -->

        <div class="col-md-12">
            <div class="form-group">
                <label for="last">Book Description</label>
                <input type="text" class="form-control" name="book_description" placeholder=""
                       value="{{ book.description }}">
            </div>
        </div>


        <div class="col-md-12">
            <div class="form-group row">
                <label for="inputImage" class="col-sm-4 col-form-label">Image</label>
                <div class="custom-file col-sm-8">
                    <input type="file" name="book_image" class="custom-file-input" id="kv-explorer" value="{{ book.image.path }}">
                    <label class="custom-file-label" for="inputImage">Choose file</label>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="form-group row">
                <label for="inputImage" class="col-sm-4 col-form-label">File</label>
                <div class="custom-file col-sm-8">
                    <input type="file" class="custom-file-input" id="inputImage"
                           name="book_file" aria-describedby="inputImage" value="{{ book.file }}">
                    <label class="custom-file-label" for="inputImage">Choose file</label>
                </div>
            </div>
        </div>
        <!--  col-md-6   -->


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>


